.compass-container {
  position: relative;
  width: 300px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.compass-wrapper {
  position: relative;
  display: flex;
  transform: translateX(-120%);
  transition: transform 0.1s ease-out;
}

.compass-img {
  width: 600px;
  left: 0;
  flex-shrink: 0;
}

.compass-arrow {
  font-size: 1rem;
  color: white;
  position: relative;
  pointer-events: none;
  align-self: center;
  z-index: 1;
}

